In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/nyc_weather.csv')

**Get the dimension of the table :**

In [7]:
dimensions = df.shape
print(f'Dimensions: {dimensions}')

Dimensions: (31, 11)

**Print  intial and last 5 rows of the table :**

In [8]:
#initial 5 rows
print("Initial 5 rows:")
print(df.head())

#last 5 rows
print("Last 5 rows:")
print(df.tail())

Initial 5 rows:
        EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0  1/1/2016           38        23        52                 30.03
1  1/2/2016           36        18        46                 30.02
2  1/3/2016           40        21        47                 29.86
3  1/4/2016           25         9        44                 30.05
4  1/5/2016           20        -3        41                 30.57

   VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover Events  \
0               10           8.0               0           5    NaN
1               10           7.0               0           3    NaN
2               10           8.0               0           1    NaN
3               10           9.0               0           3    NaN
4               10           5.0               0           0    NaN

   WindDirDegrees
0             281
1             275
2             277
3             345
4             333
Last 5 rows:
          EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover Events  \
26               10           7.0               T           3   Rain
27               10           5.0               0           1    NaN
28               10           8.0               0           4    NaN
29               10           7.0               0           0    NaN
30               10           5.0               0           0    NaN

    WindDirDegrees
26             311
27             234
28             298
29             257
30             241

**Print 2nd to 5th column**

In [9]:
print("2nd to 5th columns:")
print(df.iloc[:, 1:5])

2nd to 5th columns:
    Temperature  DewPoint  Humidity  Sea Level PressureIn
0            38        23        52                 30.03
1            36        18        46                 30.02
2            40        21        47                 29.86
3            25         9        44                 30.05
4            20        -3        41                 30.57
5            33         4        35                 30.50
6            39        11        33                 30.28
7            39        29        64                 30.20
8            44        38        77                 30.16
9            50        46        71                 29.59
10           33         8        37                 29.92
11           35        15        53                 29.85
12           26         4        42                 29.94
13           30        12        47                 29.95
14           43        31        62                 29.82
15           47        37        70                 29.52
16           36        23        66                 29.78
17           25         6        53                 29.83
18           22         3        42                 30.03
19           32        15        49                 30.13
20           31        11        45                 30.15
21           26         6        41                 30.21
22           26        21        78                 29.77
23           28        11        53                 29.92
24           34        18        54                 30.25
25           43        29        56                 30.03
26           41        22        45                 30.03
27           37        20        51                 29.90
28           36        21        50                 29.58
29           34        16        46                 30.01
30           46        28        52                 29.90

**Print all the column name of the table :**

In [10]:
print("Column names:")
print(df.columns.tolist())

Column names:
['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn', 'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover', 'Events', 'WindDirDegrees']

**Get all the temperature from the data set :**

In [11]:
temperatures = df['Temperature']
print("Temperature Data:")
print(temperatures)

Temperature Data:
0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64

**Print the max, min temp and descriptive stats about dataset**

In [12]:
max_temp = df['Temperature'].max()
min_temp = df['Temperature'].min()
print(f'Max Temperature: {max_temp}')
print(f'Min Temperature: {min_temp}')

print("Descriptive statistics:")
print(df['Temperature'].describe())

Max Temperature: 50
Min Temperature: 20
Descriptive statistics:
count    31.000000
mean     34.677419
std       7.639315
min      20.000000
25%      29.000000
50%      35.000000
75%      39.500000
max      50.000000
Name: Temperature, dtype: float64

**Select the rows which shows max temp :**

In [13]:
max_temp_rows = df[df['Temperature'] == max_temp]
print("Rows with Maximum temperature:")
print(max_temp_rows)

Rows with Maximum temperature:
         EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
9  1/10/2016           50        46        71                 29.59

   VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover Events  \
9                4           NaN             1.8           7   Rain

   WindDirDegrees
9             109

**Select the day which shows max temp :**

In [14]:
max_temp_day = df.loc[df['Temperature'] == max_temp, 'EST']
print("Day with maximum temp :")
print(max_temp_day)

Day with maximum temp :
9    1/10/2016
Name: EST, dtype: object